<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!-- Set these values to your client ID and redirect URI from Azure AD or ADFS -->    
    <add key="ida:ClientId" value="97e27114-463f-453a-901b-ee2f7825cd8f"/>
    <!-- Set this to true if your application is not enabled for multitenant access. -->
    <add key="ida:IsMultitenantApp" value="true"/>
    <!-- Set this to your tenant name or GUID if your application is not enabled for multitenant access. -->
    <add key="ida:TenantGuid" value="29375103-6ce7-4dba-81ec-8e33884c6f0f"/>    
    <add key="app:Name" value="MIP Protection SDK Sample App"/>
    <add key="app:Version" value="1.11"/>
    <add key="ida:RedirectUri" value="myapp://auth"/>
    <add key="ida:ClientSecret" value="YOUR SECRET"/>
    <!-- If using AD RMS, set to true. Mobile device extensions must be configured. -->
    <add key="useAdrms" value="false"/>
  </appSettings>
</configuration>
